<div class="{{ class }}">
    <label
        for="{{ id }}"
        class="font-medium"
    >
        {{ label }}
        {{ if required }}
            <span class="text-red-500">*</span>
        {{ /if }}
    </label>
    <input
        id="{{ id }}"
        name="{{ name }}"
        type="{{ type ?? 'text' }}"
        placeholder="{{ placeholder }}"
        class="w-full border border-zinc-300 px-5 py-3 focus:border-zinc-800 focus:outline-0"
        {{ autocomplete ? 'autocomplete="{autocomplete}"' : '' }}
        {{ required ? 'required' : '' }}
    />
</div>
