<main>
    {{ partial:sections.hero heading="O nás" subheading="Rodinný podnik s dlhoročnou tradíciou v liatych podlahách" }}
    <section id="about">
        <div class="bg-zinc-50">
            <div class="mx-auto max-w-7xl px-6 py-28">
                <div class="grid grid-cols-5 items-center gap-20">
                    <div class="col-span-2">
                        <img src="/assets/photos/terasa-1.webp" alt="" class="aspect-2/3 object-cover size-full" />
                    </div>
                    <div class="col-span-3">
                        <div class="text-zinc-700 text-xl/normal space-y-4">
                            <p>
                                Spoločnosť OTORM je rodinný podnik, ktorý pôsobí na trhu liatych a technických podláh už od roku
                                2004, predovšetkým na západnom Slovensku. Počas viac ako dvoch desaťročí sme si vybudovali silnú
                                pozíciu spoľahlivého partnera pre domácnosti, priemyselné objekty aj exteriérové priestory v tomto
                                regióne. Naším cieľom je prinášať riešenia, ktoré spájajú funkčnosť, trvácnosť a estetiku.
                            </p>
                            <p>
                                Kladieme dôraz na komplexný prístup – od dôkladnej prípravy podkladu, cez precíznu realizáciu až po aplikáciu finálnej vrstvy podlahy. Každý projekt riešime s osobným prístupom a individuálnou starostlivosťou, čo je pre nás ako rodinnú firmu samozrejmosťou. Vďaka tomu zabezpečujeme vysokú kvalitu, spoľahlivosť a maximálnu spokojnosť našich zákazníkov.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="facts">
        <div class="mx-auto max-w-7xl px-6 py-28">
            <div class="grid grid-cols-2 items-center gap-20">
                <div class="space-y-10">
                    <h2 class="text-5xl/tight font-medium text-balance">Dôveryhodný partner</h2>
                    <div class="grid grid-cols-2 gap-10">
                        <div>
                            <span class="text-7xl font-medium text-zinc-300">20+</span>
                            <p class="mt-6 text-xl font-medium text-zinc-900">Roky skúseností</p>
                            <p class="mt-2 text-zinc-700">Poctivá práca od roku 2004.</p>
                        </div>
                        <div>
                            <span class="text-7xl font-medium text-zinc-300">20+</span>
                            <p class="mt-6 text-xl font-medium text-zinc-900">Roky skúseností</p>
                            <p class="mt-2 text-zinc-700">Poctivá práca od roku 2004.</p>
                        </div>
                        <div>
                            <span class="text-7xl font-medium text-zinc-300">20+</span>
                            <p class="mt-6 text-xl font-medium text-zinc-900">Roky skúseností</p>
                            <p class="mt-2 text-zinc-700">Poctivá práca od roku 2004.</p>
                        </div>
                        <div>
                            <span class="text-7xl font-medium text-zinc-300">20+</span>
                            <p class="mt-6 text-xl font-medium text-zinc-900">Roky skúseností</p>
                            <p class="mt-2 text-zinc-700">Poctivá práca od roku 2004.</p>
                        </div>
                    </div>
                </div>
                <div>
                    <img
                        src="/assets/photos/obyvacia-izba-1.webp"
                        alt=""
                        class="aspect-3/4 size-full object-cover"
                    />
                </div>
            </div>
        </div>
    </section>

    <section>
        <div>
            <img
                src="/assets/photos/tim-1.webp"
                alt=""
                class="h-[40rem] w-full object-cover"
            />
        </div>
    </section>
</main>
