<main>
    {{ partial:sections.hero :heading="hero_heading" :subheading="hero_subheading" }}

    <section id="form">
        <div class="mx-auto max-w-7xl px-6 py-28">
            <div class="grid grid-cols-2 items-center gap-20">
                <div class="space-y-10">
                    <div class="space-y-2">
                        <h2 class="text-5xl/tight font-medium text-balance">
                            {{ form_heading }}
                        </h2>
                        <p class="text-2xl text-balance text-zinc-700">
                            {{ form_subheading }}
                        </p>
                    </div>
                    {{ partial:forms.contact }}
                </div>
                <div>
                    <img
                        src="{{ form_image:url }}"
                        alt="{{ form_image:alt }}"
                        class="aspect-3/4 size-full object-cover"
                    />
                </div>
            </div>
        </div>
    </section>

    <section id="contacts">
        <div class="mx-auto max-w-7xl px-6 py-28">
            <dl class="grid grid-cols-3 gap-20">
                {{ contacts_list }}
                    <div class="space-y-2 text-center">
                        <dt class="text-xl font-medium">{{ label }}</dt>
                        <dd class="text-lg">
                            {{ values }}
                                <div>
                                    <a
                                        href="{{ link }}"
                                        class="link"
                                    >
                                        {{ value }}
                                    </a>
                                </div>
                            {{ /values }}
                        </dd>
                    </div>
                {{ /contacts_list }}
            </dl>
        </div>
    </section>
</main>
