<main>
    <section id="hero">
        <div class="h-[calc(100vh-5.75rem)] lg:h-[calc(100vh-7rem)]">
            <div class="grid h-full grid-cols-1 items-center gap-y-5 md:grid-cols-2">
                <div class="h-full">
                    <img
                        src="{{ hero_image:url }}"
                        alt="{{ hero_image:alt }}"
                        class="size-full object-cover"
                    />
                </div>
                <div class="px-8 xl:px-28 xl:py-20">
                    <div class="max-w-xl space-y-10">
                        <h1 class="text-3xl leading-tight! font-medium text-balance lg:text-5xl xl:text-7xl">
                            {{ hero_heading }}
                        </h1>
                        <p class="text-xl leading-normal! text-balance text-zinc-700 xl:text-2xl">
                            {{ hero_paragraph }}
                        </p>
                        {{ partial:ui.button href="/sluzby" }}
                            Naše služby
                        {{ /partial:ui.button }}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="mx-auto max-w-7xl px-6 pt-28 pb-28 lg:pt-56">
            <div class="grid grid-cols-1 items-center gap-10 md:grid-cols-2">
                <div>
                    <div class="w-[75%]">
                        <h2 class="text-3xl leading-tight! font-medium text-balance md:text-4xl lg:text-5xl">
                            {{ about_heading }}
                        </h2>
                    </div>
                </div>
                <div class="space-y-6">
                    <p class="text-xl/normal text-zinc-700">
                        {{ about_paragraph }}
                    </p>
                </div>
            </div>
            <div class="mt-20">
                <img
                    src="{{ about_image:url }}"
                    alt="{{ about_image:alt }}"
                    class="aspect-square h-auto w-full object-cover md:aspect-2/1"
                />
            </div>
        </div>
    </section>

    <section id="services">
        <div class="mx-auto max-w-7xl px-6 py-28">
            <div class="mx-auto max-w-lg space-y-3 text-center">
                <h2 class="text-3xl leading-tight! font-medium text-balance lg:text-5xl">
                    {{ services_heading }}
                </h2>
                <p class="text-xl leading-normal! text-balance text-zinc-700 xl:text-2xl">
                    {{ services_paragraph }}
                </p>
            </div>
            <div class="mt-20 grid grid-cols-1 items-center gap-x-10 gap-y-32 sm:grid-cols-2 sm:grid-rows-2">
                {{ services_entries }}
                    <div class="even:row-span-2 lg:px-16 xl:px-24">
                        <div class="space-y-5">
                            <a
                                href="{{ url }}"
                                class="block"
                            >
                                <div class="overflow-hidden">
                                    <img
                                        src="{{ thumbnail:url }}"
                                        alt="{{ thumbnail:alt }}"
                                        class="aspect-5/6 size-full transition duration-500 hover:scale-105"
                                    />
                                </div>
                            </a>
                            <div class="space-y-3">
                                <a
                                    href="{{ url }}"
                                    class="block"
                                >
                                    <h3 class="text-xl font-medium text-zinc-900 lg:text-2xl">
                                        {{ title }}
                                    </h3>
                                </a>
                                <p class="text-lg text-zinc-800 lg:text-xl">
                                    {{ description }}
                                </p>
                                <ul class="list-inside list-disc text-lg text-zinc-600 lg:text-xl">
                                    {{ features }}
                                        <li>{{ value }}</li>
                                    {{ /features }}
                                </ul>
                                <div class="mt-5">
                                    {{ partial:ui.button :href="url" }}
                                        Viac o službe
                                    {{ /partial:ui.button }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ /services_entries }}
            </div>
        </div>
    </section>

    <section id="gallery">
        <div class="px-6">
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-4">
                {{ gallery_list }}
                    <div class="h-96 lg:nth-[6n+3]:col-span-2 lg:nth-[6n+4]:col-span-2">
                        <a
                            href="{{ url }}"
                            class="chocolat"
                        >
                            <img
                                loading="lazy"
                                src="{{ url }}"
                                alt="{{ alt }}"
                                class="size-full object-cover"
                            />
                        </a>
                    </div>
                {{ /gallery_list }}
            </div>
        </div>
    </section>

    {{ partial:sections.cta :heading="cta_heading" :subheading="cta_subheading" :link="cta_link" :image="cta_image" }}
</main>
