<main>
    {{ partial:sections.hero :heading="hero_heading" :subheading="hero_subheading" }}

    <section id="services">
        <div class="mx-auto max-w-7xl px-6 py-28">
            <div class="space-y-40">
                {{ services_entries }}
                    <div class="flex items-center gap-10 max-md:flex-col md:gap-20 md:even:flex-row-reverse">
                        <div class="md:w-2/3">
                            <img
                                src="{{ thumbnail:url }}"
                                alt="{{ thumbnail:alt }}"
                                class="aspect-3/2 size-full object-cover"
                            />
                        </div>
                        <div class="space-y-3">
                            <h3 class="text-2xl font-medium text-zinc-900 lg:text-3xl">{{ title }}</h3>
                            <p class="text-xl text-zinc-800">{{ description }}</p>
                            <ul class="list-inside list-disc text-xl text-zinc-700">
                                {{ features }}
                                    <li>{{ value }}</li>
                                {{ /features }}
                            </ul>
                            <div class="mt-10">
                                {{ partial:ui.button :href="url" }}
                                    Zistiť viac
                                {{ /partial:ui.button }}
                            </div>
                        </div>
                    </div>
                {{ /services_entries }}
            </div>
        </div>
    </section>

    {{ partial:sections.cta :heading="cta_heading" :subheading="cta_subheading" :link="cta_link" :image="cta_image" }}
</main>
